/*============ REFERENCES =============*/

@import 'mixins'

/** Colors **/

$white: #FFFFFF
$black: #000000
$font-color: #3f3f3f
$bck-grey: #F5F5F5

/** Fonts **/

@font-face
  font-family: 'PlayfairDisplay-Regular'
  src: url('../fonts/PlayfairDisplay-Regular.ttf')
  font-weight: normal
  font-style: normal

$f_PlayfairDisplay-Regular: 'PlayfairDisplay-Regular', 'Times New Roman', serif

@font-face
  font-family: 'PlayfairDisplay-Bold'
  src: url('../fonts/PlayfairDisplay-Bold.ttf')
  font-weight: normal
  font-style: normal

$f_PlayfairDisplay-Bold: 'PlayfairDisplay-Bold', 'Times New Roman', serif

@font-face
  font-family: 'Gotham-Pro'
  src: url('../fonts/Gotham-Pro.ttf')
  font-weight: normal
  font-style: normal

$f_Gotham-Pro: 'Gotham-Pro', 'Arial', sans-serif


*
  box-sizing: border-box

html, body
  min-width: 320px
  padding: 0
  margin: 0
  scroll-behavior: smooth

h1,h2,h3,h4,h5,h6
  padding: 0
  margin: 0

p
  padding: 0
  margin: 0

a
  text-decoration: none

input
  outline: none
  border: none

ul
  padding: 0
  margin: 0
  list-style: none

.t-bold
  font-weight: 800

.mk-page
  //backdrop-filter: blur(40)
  //background: red
  overflow: hidden
  position: relative

.mk-page_active
  &:after
    @include pseudo(100%, 100%)
    top: 0
    z-index: 50

    -webkit-backdrop-filter: blur(5px)
    backdrop-filter: blur(5px)

.mk-container
  @include media(1200px)
    //position: relative
    max-width: 1200px
    margin: 0 auto

/** MK-Header **/

.mk-header
  position: relative
  //z-index: 100
  margin: 0 20px
  padding: 24px 0px
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 1px solid $black
  @include media(1200px)
    width: 47%
    position: absolute
    border-bottom: none
  @include media(1440px)
    width: 30%

  &__toggler
    width: 20px
    height: 20px
    background: url("../img/menu-icon.png") center no-repeat
    background-size: contain
    outline: none
    border: none
    cursor: pointer
    @include media(1200px)
      width: 40px
  
  .mk-star
    display: none
    @include media(1200px)
      width: 150px
      height: 150px
      position: absolute
      right: -0px
      top: -70px
      display: block
      background: url("../img/star.png") center no-repeat
      background-size: contain
      transition: .3s ease-in-out
    @include media(1440px)
      right: -200px
    @include media(1920px)
      right: -130px

  &__dropdown-wrapper
    padding: 20px 0
    position: absolute
    display: block
    width: 100vw
    text-align: center
    top: -2000px
    left: -2000px
    z-index: 1000
    background: url("../img/menu-circle-bck.png") bottom no-repeat
    background-size: cover
    transition: .6s ease-in-out
    @include media(768px)
      padding: 0 50px 240px 80px
      display: flex
      flex-wrap: wrap
      background-position: -150px -20px
      z-index: 100
    @include media(1200px)
      padding: 60px 150px 300px 180px
      z-index: 100
      top: -2000px
      left: -2000px
      background-position: -200px 0
    @include media(1440px)
      padding: 60px 150px 200px 180px
      background-size: contain
      background-position: 0px 0
      top: -2000px
      left: -2000px
    @include media(1920px)
      padding: 60px 250px 200px 280px
      background-position: 0px 0
      top: -2000px
      left: -2000px

  &__dropdown-wrapper_active
    display: block
    top: 0
    left: -20px
    @include media(768px)
      padding: 0 50px 240px 80px
      top: 0
      left: -20px
      display: flex
      flex-wrap: wrap
      background-position: -150px -20px
      @include media(1200px)
        display: flex
        padding: 60px 150px 300px 180px
        z-index: 100
        top: -40px
        left: -150px
        background-position: -200px 0
      @include media(1440px)
        display: flex
        padding: 60px 150px 200px 180px
        background-size: contain
        background-position: 0px 0
        left: -230px
      @include media(1920px)
        display: flex
        padding: 60px 250px 200px 280px
        background-position: 0px 0
        left: -450px

  &__dropdown
    @include media(768px)
      width: 45%
    @include media(1220px)
      width: 30%
    @include media(1920px)
      width: 20%

  &__dropdown-item
    padding: 20px 0
    position: relative
    z-index: 100
    @include media(768px)
      width: 45%
      text-align: left
    a
      position: relative
      @include font(24px, 32px)
      font-family: $f_PlayfairDisplay-Regular
      color: $white
      @include media(768px)
        @include font(36px, 47px)
        font-style: italic
      @include media(1200px)
        &:after
          @include pseudo(0%, 2px)
          left: 50%
          transform: translate(-50%, 0)
        &:hover
          &:after
            width: 100%
            background: $white
            transition: width .3s ease-in-out

  &__dropdown-close
    position: relative
    z-index: 100
    @include media(768px)
      position: absolute
      top: 300px
      right: 180px
    @include media(1024px)
      right: 380px
    @include media(1220px)
      top: 400px
      right: 450px
      transition: .3s ease-in-out
      cursor: pointer
      button
        cursor: pointer
      &:hover
        transform: rotate(60deg) scale(1.3)
        transition: .3s ease-in-out
    @include media(1440px)
      left: 700px
    @include media(1920px)
      left: 200px
    button
      width: 80px
      height: 80px
      background: url("../img/close.png") center no-repeat
      background-size: contain
      border: none
      outline: none

  &__logo
    img
      display: block
      margin: 0 auto
      width: 60%
      @include media(1200px)
        width: 180px

  &__search-btn
    width: 20px
    height: 20px
    background: url("../img/serach-icon.png") center no-repeat
    background-size: contain
    outline: none
    border: none
    cursor: pointer
    @include media(1200px)
      width: 40px
      height: 40px
      position: absolute
      left: 0
      top: 100px

  &__search-btn_active
    @include media(1200px)
      right: 100px
      left: auto
    @include media(1440px)
      right: 80px

  &__search-input
    display: none
    position: absolute
    left: 50%
    top: 10px
    padding: 10px 0
    width: 70%
    border-bottom: 1px solid rgba(17, 17, 17, 0.25)
    background: $white
    transform: translate(-50%, 0)
    input
      width: 100%
      padding: 10px 0
    @include media(768px)
      width: 90%
    @include media(1200px)
      padding: 5px 0
      width: 70%
      top: 100px
      left: 0
      transform: translate(0,0)

  &__search-input_active
    display: block

/** MK-Main-Screen **/

.mk-main-screen

  &__wrapper
    @include media(768px)
      display: flex
      flex-direction: row-reverse
      justify-content: space-around
    @include media(1200px)
      justify-content: normal


  &__slider
    @include media(768px)
      width: 45%
    @include media(1200px)
      position: relative
      left: 20px
      width: 50%
      height: 600px
      .swiper-container
        height: 600px
    @include media(1200px)
      left: 50px
    @include media(1440px)
      width: 800px
      margin: 0 -200px 0 0
    @include media(1920px)
      width: 1000px
      margin: 0 -400px 0 0

  &__slider-inner
    display: none
    @include media(1200px)
      padding: 20px 10px 50px 30px
      width: 370px
      display: block
      bottom: 0
      position: absolute
      z-index: 2
      -webkit-backdrop-filter: blur(10px)
      backdrop-filter: blur(10px)
      color: #fff
      border-radius: 0 30px 0 0

  &__slider-next
    display: none
    @include media(1200px)
      width: 54px
      height: 54px
      display: block
      top: 82%
      left: 56%
      background: url("../img/slider-arrow.png") center no-repeat
      background-size: contain
      outline: none
      &:after
        display: none
    @include media(1440px)
      left: 42%
    @include media(1920px)
      left: 34%

  &__slider-title
    @include font(36px, 50px)
    font-family: sans-serif
    font-style: italic
    font-weight: 400

  &__slider-text
    margin: 20px 0
    @include font(13px, 20px)
    font-family: $f_Gotham-Pro

  &__slider-num
    display: none
    @include media(1200px)
      display: block
      position: absolute
      left: 20px
      top: 10px
      z-index: 1
      span
        @include font(42px, 50px)
        font-family: sans-serif
        font-style: italic
      .num-active
        color: $white
      .num-dash, .num-length
        color: $white
        opacity: .5

  &__active-slide
    display: none
    @include media(1200px)
      display: block
      span
        position: absolute
        bottom: 14px
        left: 50%
        color: $white
        @include font(40px, 50px)
        font-style: italic
        font-family: sans-serif
        z-index: 1
        opacity: 0.5
        @include media(1440px)
          left: 38%
        @include media(1920px)
          left: 30%

  &__block
    @include media(768px)
      width: 45%

  &__slide-img
    width: 100%
    height: 200px
    padding: 20px
    @include media(425px)
      height: 350px
    @include media(768px)
      padding: 20px 0
    @include media(1200px)
      width: 600px
      height: 600px
      padding: 0
    @include media(1300px)
      width: 630px
      height: 600px
      padding: 0
    @include media(1440px)
      width: 800px
    @include media(1920px)
      width: 1000px
    img
      object-fit: cover
      width: 100%
      height: 200px
      @include media(425px)
        height: 350px
      @include media(1200px)
        width: 600px
        height: 600px
      @include media(1300px)
        width: 630px
        height: 600px
        padding: 0
      @include media(1440px)
        width: 800px
      @include media(1920px)
        width: 1000px

  &__header
    padding: 50px 20px 20px 20px
    color: $font-color
    @include media(1200px)
      padding: 180px 75px 20px 00px

  &__header-title
    @include font(26px, 39.99px)
    text-align: right
    font-family: $f_PlayfairDisplay-Regular
    font-weight: 200
    @include media(425px)
      padding: 0 0 0 100px
      @include font(32px, 45px)
    @include media(768px)
      padding: 0
    @include media(1200px)
      @include font(48px, 70px)

  &__subtitle
    padding: 20px 0 0 0
    text-align: right
    @include font(12px, 18px)
    font-family: $f_Gotham-Pro
    @include media(768px)
      @include font(14px, 21px)
    @include media(1200px)
      margin: 40px 0 0 0
      @include font(22px, 33px)

  &__nav
    position: relative
    padding: 20px
    display: flex
    justify-content: space-around
    @include media(425px)
      justify-content: space-evenly
    @include media(768px)
      justify-content: flex-end
    @include media(1200px)
      padding: 20px 70px
    &:after
      @include pseudo(150px,150px)
      bottom: -180px
      left: -30px
      opacity: 0.25
      background: url("../img/circle-logo.png") center no-repeat
      background-size: contain
      @include media(768px)
        width: 120px
        height: 120px
        bottom: 60px
        left: -80px
      @include media(1200px)
        display: none
    .sound-star
      display: none
      @include media(1200px)
        display: block
        position: absolute
        left: -100px
        top: -150px
        width: 150px
        height: 150px
        //background: url("../img/sound-star.png") center no-repeat
        background-size: contain
        border: none
        &:hover
          .sound-music
            opacity: 0
            left: 0
            transition: .3s ease-in-out .1s

          > .sound-play, .sound-pause
            opacity: 1
            z-index: 100
            cursor: pointer
            transition: .3s ease-in-out .1s

    .sound-music
      position: absolute
      top: 60px
      left: 35px
      opacity: 1
      transition: .3s ease-in-out .1s

    .sound-play
      position: absolute
      top: 60px
      left: 40px

    .sound-pause
      position: absolute
      top: 60px
      left: 40px

    .sound-play, .sound-pause
      opacity: 0
      transition: .3s ease-in-out .1s

    .sound-pause
      display: none

    .sound-circle
      position: absolute
      top: -20px
      left: -40px
      z-index: -1
      transition: .3s ease-in-out .3s

    .sound-circle_active
      animation: rotation 8s infinite linear
    a
      display: block
      width: 120px
      height: 120px
      text-align: center
      @include font(28px, 110px)
      color: $font-color
      border: 1px solid $font-color
      border-radius: 50%
      transition: .3s ease-in-out
      @include media(768px)
        margin: 0 0 0 30px
        width: 80px
        height: 80px
        @include font(18px, 74px)
      @include media(1200px)
        width: 100px
        height: 100px
        text-align: center
        @include font(24px, 90px)
      &:hover
        color: $white
        background: $font-color

  &__pagination
    padding: 20px 0 0 0
    width: 100%
    z-index: 1
    @include media(768px)
      width: 47%
    @include media(1200px)
    .swiper-pagination-bullet
      margin: 0 10px
      background: rgba(63, 63, 63, 0.25)
    .swiper-pagination-bullet-active
      background: $font-color

.swiper-pagination-progressbar
  width: 40%
  bottom: 35px
  left: 30px
  height: 2px !important
  padding: 1px
  background: rgba(255,255,255, .5)
  z-index: 100
  @include media(1440px)
    width: 30%
  @include media(1920px)
    width: 24%

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill
  height: 1.5px
  background: $white

@keyframes rotation
  from
    transform: rotate(0deg)
  to
    transform: rotate(359deg)


/** MK-Services **/

.mk-services
  margin: 120px 0 0 0

  &__block
    margin: 0 0 120px 0
    @include media(768px)
      margin: 0 0 80px 0
      display: flex
      justify-content: space-around

  &__block-reverse
    @include media(768px)
      flex-direction: row-reverse
      .mk-services__title
        padding: 0
        @include media(1200px)
          padding: 0 40px 0 0
      .mk-services__subtitle
        padding: 20px 0 20px 60px
        @include media(1200px)
          padding: 40px 40px 0px 60px

      .mk-services__link
        justify-content: end
        flex-direction: row-reverse
      .mk-services__link-text
        margin: 0 20px 0 0

  &__content
    @include media(768px)
      width: 45%

  &__img
    margin: 0 auto
    width: 100%
    height: 200px
    padding: 20px
    @include media(425px)
      height: 350px
    @include media(768px)
      width: 45%
      margin: 0
      padding: 20px 0
    @include media(1200px)
      width: 690px
      height: 460px
    img
      object-fit: cover
      width: 100%
      height: 200px
      @include media(425px)
        height: 350px
      @include media(768px)
        height: 270px
      @include media(1200px)
        width: 690px
        height: 460px

  &__header
    padding: 40px 20px

  &__header-right
    text-align: right

  &__title
    @include font(30px, 37.5px)
    font-family: $f_PlayfairDisplay-Regular
    font-weight: 200
    @include media(768px)
      padding: 0 70px 0 0
    @include media(1200px)
      padding: 0 0 0 40px
      @include font(48px, 70px)

  &__subtitle
    padding: 20px 0 0 0
    @include font(12px, 18px)
    font-family: $f_Gotham-Pro
    @include media(768px)
      padding: 20px 100px 0 0
    @include media(1200px)
      padding: 40px 60px 0 40px
      @include font(22px, 33px)

  &__link
    padding: 0 20px
    display: flex
    align-items: center
    justify-content: space-evenly
    @include media(425px)
      justify-content: center
    @include media(768px)
      justify-content: end
    @include media(1200px)
      padding: 20px 60px

  &__svg-wrapper
    svg
      width: 80px
      height: 80px
      @include media(768px)
        width: 60px
        height: 60px
      @include media(1200px)
        width: 120px
        height: 120px

  &__link-text
    max-width: 140px
    @include font(22px, 29px)
    font-family: $f_PlayfairDisplay-Regular
    font-weight: 400
    color: $font-color
    @include media(425px)
      margin: 0 0 0 30px
  &__svg-active
    display: none

/** MK-Roadmap**/

.mk-roadmap
  position: relative
  padding: 0 0 70px 0
  @include media(768px)
    &:before
      @include pseudo(150px, 150px)
      top: -80px
      left: -30px
      background: url("../img/keramika-logo.png") center no-repeat
      background-size: contain
      @include media(1200px)
        left: 50px
      @include media(1440px)
        width: 250px
        height: 250px
        left: 50px
      @include media(1920px)
        width: 250px
        height: 250px
        left: 250px

  @include media(1200px)
    padding: 60px 0 120px 0

  &__link
    display: inline-block
    text-align: center
    font-family: $f_PlayfairDisplay-Regular
    color: $font-color
    font-weight: 800
    @include media(768px)
      margin: 0 20px

  &__wrapper
    padding: 0 20px
    @include media(425px)
      display: flex
      justify-content: space-evenly
    @include media(768px)
      justify-content: center
      flex-direction: row-reverse
      a
        transition: .3s ease-in-out
        &:hover
          background: $font-color
          color: $white
          transition: .3s ease-in-out

.mk-shop
  padding: 35px 30px
  box-sizing: border-box
  @include font(18px, 28px)
  width: 160px
  height: 160px
  border: 1px solid $font-color
  border-radius: 50%
  float: right
  @include media(1200px)
    padding: 50px 10px
    width: 200px
    height: 200px
    @include font(22px, 28px)

.mk-portfolio
  padding: 55px 20px
  @include font(24px, 35px)
  width: 200px
  height: 200px
  border: 1px solid $font-color
  border-radius: 50%
  @include media(768px)
    padding: 40px 20px
    width: 160px
    height: 160px
    @include font(18px, 35px)
  @include media(1200px)
    padding: 60px 40px
    width: 200px
    height: 200px
    @include font(22px, 28px)


/** MK-Footer **/

.mk-footer
  position: relative
  padding: 40px 0 15px 0
  background: $bck-grey
  @include media(768px)
    padding: 40px 0 0 0
  &:after
    @include pseudo(120px,120px)
    top: -70px
    right: -30px
    opacity: 1
    background: url("../img/circle-logo.png") center no-repeat
    background-size: contain
    @include media(1200px)
      display: none

  &__nav
    @include media(1200px)
      width: 30%

  &__block
    margin: 0 0 40px 0
    text-align: center
    color: $font-color
    @include media(1200px)
      text-align: left

  &__block-title
    position: relative
    margin: 0 0 30px 0
    @include font(20px, 26px)
    font-family: $f_PlayfairDisplay-Regular
    font-weight: 200
    @include media(1200px)
      margin: 0 0 20px 0
      @include font(32px, 42px)
    &:after
      @include pseudo(26px, 1px)
      background: $font-color
      top: 40px
      left: 50%
      transform: translate(-50%, 50%)
      @include media(1200px)
        display: none

  &__block-item
    @include media(1200px)
      margin: 0 0 0 18px
      list-style: disc
    p
      padding: 10px 0
      @include font(14px, 13px)
      font-family: $f_Gotham-Pro

  &__instagram
    text-align: center
    @include media(1200px)
      width: 720px
      position: absolute
      top:  46px
      right: 0
      left: 46%
    a
      display: inline-block
      position: relative
      left: -20px
      @include font(26px, 34px)
      color: $font-color
      @include media(1200px)
        @include font(32px, 42px)
        text-align: left
        width: 100%
      &:after
        @include pseudo(20px, 20px)
        top: 14px
        right: -30px
        background: url("../img/instagram-logo.png") center no-repeat
        background-size: contain
        @include media(1200px)
          left: 32%

  &__instagram-wrapper
    display: none
    @include media(1200px)
      padding: 30px 0 0 0
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr
      grid-template-rows: 130px 130px 130px 125px
      gap: 10px 10px
      grid-template-areas:  "insta---1 insta---3 insta---6 insta---8"  "insta---1 insta---4 insta---6 insta---9"  "insta---2 insta---4 insta---7 insta---9"  "insta---2 insta---5 insta---7 insta---10"
      a
        &:after
          display: none
        img
          padding:  0
          width: 170px
          height: 100%
          object-fit: cover

  &__copyright
    @include font(12px, 16px)
    padding: 20px 0
    text-align: center
    font-family: $f_Gotham-Pro
    @include media(1200px)
      padding: 0 0 30px 0
      text-align: left

  &__bottom-nav
    display: none
    @include media(768px)
      display: flex
      justify-content: center
      background: $font-color

  &__bottom-list
    display: flex
    justify-content: space-around

  &__botton-item
    padding: 12px 0
    a
      margin: 0 20px
      font-family: $f_Gotham-Pro
      @include font(12px, 12px)
      color: $white

.conf
  display: inline-block
  padding: 0 0 10px 0
  text-decoration: underline
  color: $font-color

.insta---1
  height: 260px
  grid-area: insta---1

.insta---2
  height: 260px
  grid-area: insta---2

.insta---3
  height: 125px
  grid-area: insta---3

.insta---4
  height: 260px
  grid-area: insta---4

.insta---5
  height: 125px
  grid-area: insta---5

.insta---6
  grid-area: insta---6

.insta---7
  grid-area: insta---7

.insta---8
  grid-area: insta---8

.insta---9
  grid-area: insta---9

.insta---10
  grid-area: insta---10

#buttonToTop
  display: none
  @include media(1220px)
    display: inline-block
    background: url("../img/totop-icon.png") center no-repeat
    background-size: contain
    width: 350px
    height: 350px
    text-align: center
    border-radius: 4px
    position: fixed
    bottom: 30px
    right: 30px
    transition: background-color .3s
    opacity: 0
    visibility: hidden
    z-index: 1000

#buttonToTop::after
  content: "\f077"
  font-family: FontAwesome
  font-weight: normal
  font-style: normal
  font-size: 2em
  line-height: 50px
  color: #fff

#buttonToTop:hover
  cursor: pointer

#buttonToTop:active
  //background-color: red

#buttonToTop.show
  opacity: 1
  visibility: visible


/** DESIGN BATHROOM PAGE **/

.mk-design-bathroom

  &__content
    @include media(768px)
      width: 44%
    @include media(1200px)
      width: 35%
      position: relative
      top: 150px
      right: -120px

  &__header
    padding: 20px
    @include media(768px)
      padding: 20px 0
    h2
      @include font(30px, 37px)
      font-family: $f_PlayfairDisplay-Regular
      text-align: right
      font-weight: 200
      @include media(768px)
        @include font(36px, 45px)
      @include media(1200px)
        @include font(50px, 62px)

  &__subtitle
    padding: 20px
    @include media(768px)
      padding: 20px 0 0 20px
    p
      @include font(12px, 18px)
      font-family: $f_Gotham-Pro
      text-align: right
      @include media(768px)
        @include font(14px, 21px)
      @include media(1200px)
        @include font(18px, 27px)

  &__action
    padding: 40px 0
    display: flex
    justify-content: space-evenly
    .sound-star
      display: none
    @include media(768px)
      justify-content: flex-end
    @include media(1200px)
      margin: 40px 0 0 0
      position: relative
      padding: 20px
      display: flex
      justify-content: space-around
      @include media(425px)
        justify-content: space-evenly
      @include media(768px)
        justify-content: flex-end
      @include media(1200px)
        padding: 20px 0px
      &:after
        @include pseudo(150px,150px)
        bottom: -180px
        left: -30px
        opacity: 0.25
        background: url("../img/circle-logo.png") center no-repeat
        background-size: contain
        @include media(768px)
          width: 120px
          height: 120px
          bottom: 60px
          left: -80px
        @include media(1200px)
          display: none
      .sound-star
        @include media(1200px)
          display: block
          position: absolute
          left: -120px
          top: -150px
          width: 100px
          height: 100px
          //background: url("../img/sound-star.png") center no-repeat
          background-size: contain
          border: none
          transform: scale(.7)
          @include media(1440px)
            transform: scale(1)
            left: -140px
          &:hover
            .sound-music
              opacity: 0
              left: 0
              transition: .3s ease-in-out .1s

            > .sound-play, .sound-pause
              opacity: 1
              z-index: 100
              cursor: pointer
              transition: .3s ease-in-out .1s

      .sound-music
        position: absolute
        top: 60px
        left: 35px
        opacity: 1
        transition: .3s ease-in-out .1s

      .sound-play
        position: absolute
        top: 60px
        left: 40px

      .sound-pause
        position: absolute
        top: 60px
        left: 40px

      .sound-play, .sound-pause
        opacity: 0
        transition: .3s ease-in-out .1s

      .sound-pause
        display: none

      .sound-circle
        position: absolute
        top: -20px
        left: -40px
        z-index: -1
        transition: .3s ease-in-out .3s

      .sound-circle_active
        animation: rotation 8s infinite linear
    a
      display: block
      width: 80px
      height: 80px
      text-align: center
      @include font(28px, 110px)
      color: $font-color
      border: 1px solid $font-color
      border-radius: 50%
      transition: .3s ease-in-out
      &:first-child
        line-height: 74px
        transform: rotate(-25deg)
        @include media(768px)
          transform: rotate(0)
        @include media(1200px)
          width: 120px
          height: 120px
          @include font(26px, 114px)
      &:last-child
        width: 120px
        height: 120px
        @include media(768px)
          width: 80px
          height: 80px
        @include media(1200px)
          width: 120px
          height: 120px
          @include font(26px, 114px)
      @include media(768px)
        margin: 0 0 0 30px
        width: 80px
        height: 80px
        @include font(18px, 74px)
      @include media(1200px)
        width: 120px
        height: 120px
        text-align: center
        @include font(24px, 114px)
      &:hover
        color: $white
        background: $font-color

  &__item
    position: relative
    width: 100%
    height: 100%
    &:after
      @include pseudo(52px, 52px)
      top: 50%
      left: 50%
      right: 0
      bottom: 0
      transform: translate(-50%, -50%)
      background: url("../img/eye-design-card.svg") center no-repeat
      background-size: contain
    &:nth-child(1)
      &:after
        width: 69px
        height: 69px
    &:nth-child(3)
      img
        height: 150px
    @include media(1200px)
      height: 300px
      &:nth-child(1)
        img
          width: 100%
          height: 450px
    img
      width: 100%
      height: 300px
      object-fit: cover
      @include media(768px)
        height: 300px
      @include media(1200px)
        object-fit: cover
    @include media(1200px)
      img
        width: 180px

  &__nav
    @include media(768px)
      width: 46%

  &__nav-header
    position: relative
    padding: 80px 0 20px 0
    @include media(768px)
      padding: 250px 20px 20px 0
    h3
      @include font(30px, 40px)
      font-family: $f_PlayfairDisplay-Regular
      font-weight: 200
      text-align: center
      @include media(768px)
        padding: 80px 0 20px 20px
        text-align: right

  &__nav-list
    position: relative
    @include media(768px)
      padding: 0 0 60px 0
    @include media(1200px)
      padding: 0 0 120px 0

  &__bottom-nav
    @include media(768px)
      display: none

  &__nav-item
    padding: 10px 0
    text-align: center
    position: relative
    @include media(768px)
      padding: 10px 20px 10px 0
      text-align: right
    a
      display: inline-block
      padding: 10px 0
      @include font(14px, 14px)
      color: $black
      border-bottom: 1px solid transparent
      &:hover
        display: inline-block
        padding: 10px 0
        border-bottom: 1px solid $font-color
      
  &__item-hover
    display: none
    @include media(1200px)
      display: block
      position: absolute
      width: 280px
      height: 310px
      top: 430px
      right: 220px
      img
        width: 280px
        height: 310px
        object-fit: cover
        
.design-grid-container
  padding: 0 5px
  width: 100%
  display: grid
  justify-content: center
  grid-template-columns: 150px 150px
  grid-template-rows: repeat(7, 150px)
  gap: 8px 10px
  grid-template-areas: "design-card-1 design-card-1"  "design-card-1 design-card-1"  "design-card-2 design-card-3"  "design-card-2 design-card-4" "design-card-5 design-card-4" "design-card-5 design-card-6" ". design-card-6"
  @include media(768px)
    width: 390px
    position: absolute
    top: 100px
    right: 15px
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: repeat(5, 150px)
    gap: 10px 10px
    grid-template-areas: "design-card-1 design-card-1 design-card-1" "design-card-1 design-card-1 design-card-1"  "design-card-2 design-card-3 design-card-4"  "design-card-2 design-card-6 design-card-4" "design-card-5 design-card-6 ." "design-card-5 . ."
  @include media(1024px)
    right: 100px
  @include media(1200px)
    grid-template-rows: repeat(5, 150px)
    top: 0
    left: 55%

.design-card-1
  grid-area: design-card-1
  @include media(1200px)
    height: 450px
.design-card-2
  grid-area: design-card-2
  @include media(1200px)
    margin: 140px 0 0 0
.design-card-3
  grid-area: design-card-3
  @include media(1200px)
    height: 150px
    margin: 140px 0 0 0
.design-card-4
  grid-area: design-card-4
  @include media(1200px)
    margin: 140px 0 0 0
.design-card-5
  grid-area: design-card-5
  @include media(1200px)
    margin: 140px 0 0 0
.design-card-6
  grid-area: design-card-6
  @include media(1200px)
    margin: 140px 0 0 0

.modal
  top: -1000px
  display: none
  opacity: 0
  transition: 200ms ease-in-out
  z-index: 10
  background-color: #fff
  width: 100vw
  height: 100vh
  overflow: scroll
  @include media(768px)
    padding: 50px
    overflow: visible
  @include media(1200px)
    width: 1024px
    left: 50%
    height: 650px
    overflow: visible
    transform: translate(-50%, 10%)

.modal.active
  top: 0
  display: block
  position: fixed
  opacity: 1

.modal-header
  padding: 10px 15px
  display: flex
  justify-content: space-between
  align-items: center

.modal-header .title
  position: relative
  top: 20px
  @include font(22px, 27px)
  font-style: italic
  font-family: $f_PlayfairDisplay-Regular
  span
    @include font(30px, 37px)

.modal-header .close-button
  background: transparent
  border: none
  outline: unset
  font-size: 2em
  cursor: pointer

.modal-body
  padding: 10px
  text-align: justify
  @include media(768px)
    display: flex

.bathroom-slide
  height: 300px

#overlay
  background-color: rgba(0, 0, 0, 0.4)
  opacity: 0
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  transition: 200ms ease-in-out

#overlay.active
  opacity: 1
  pointer-events: all
  -webkit-backdrop-filter: blur(5px)
  backdrop-filter: blur(5px)

button[data-modal-target="#modal"]
  background-color: #00b7c2
  color: #e5e5e5
  border: none
  outline: none
  padding: 20px 40px
  font-size: 1.3em
  font-weight: 700
  text-transform: uppercase
  border-radius: 5px
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3)
  cursor: pointer

button[data-modal-target="#modal"]:active
  background-color: #00b7c2
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.2),  inset -1px -1px 10px rgba(255, 255, 255, 0.4)
  border: 1px solid #fff

.modal-lightbox
  top: 0
  opacity: 0
  display: none
  transition: 200ms ease-in-out
  z-index: 100
  background-color: transparent
  width: 100%
  height: 100vh
  border: 1px solid #000
  @include media(1200px)
    width: 1024px
    border: none
    left: 50%
    transform: translate(-50%, 0%)
    z-index: 1000

.modal-lightbox.active
  position: fixed
  display: block
  opacity: 1

.modal-header-lightbox
  padding: 10px 15px
  display: flex
  justify-content: flex-end
  align-items: center
  button
    position: relative
    background: none
    border: none
    outline: none
    cursor: pointer
    svg
      path
        stroke: $white
  @include media(1200px)
    justify-content: flex-end
    button
      top: 38px
      right: 70px
      position: relative
      background: none
      border: none
      outline: none
      cursor: pointer
      svg
        path
          stroke: $white

.modal-header-lightbox .title
  font-size: 1.2em
  font-weight: 700

.modal-header-lightbox .close-button
  background: transparent
  border: none
  outline: unset
  font-size: 2em
  cursor: pointer

.modal-slider
  position: relative
  width: 320px
  margin: 0 auto
  @include media(768px)
    width: 260px
    margin: 0

.modal-content
  padding: 50px 0
  @include media(768px)
    width: 100%
    height: 400px
    padding: 10px 0
    overflow-y: scroll

.modal-block
  width: 320px
  margin: 0 auto 30px auto
  border-bottom: 1px solid rgba(17, 17, 17, 0.25)
  @include media(768px)
    margin: 0 30px
    width: 80%
  &:last-child
    margin: 0 auto
    @include media(768px)
      margin: 0 30px

.modal-block-body__wrapper
  @include media(768px)
    display: flex
    align-items: center
    justify-content: space-between

.modal-block__header
  h5
    padding: 12px 0
    font-family: $f_Gotham-Pro
    @include font(14px, 16px)
    font-weight: 600
    @include media(768px)
      padding: 10px 0

.modal-block__body
  p
    font-family: $f_Gotham-Pro
    @include font(14px, 20px)
    font-weight: 200
    span
      font-weight: 600

.modal-block__action
  padding: 30px 0
  display: flex
  justify-content: center
  @include media(768px)
    padding: 25px 0
  a
    padding: 16px 26px
    @include font(14px, 14px)
    font-family: $f_Gotham-Pro
    color: $font-color
    border: 1px solid $font-color
    border-radius: 30px
    @include media(768px)
      padding: 12px 17px

.modal-body-lightbox
  padding: 10px
  text-align: justify

.bathroom-slide
  height: 300px

#overlay-lightbox
  background-color: rgba(0, 0, 0, 0.9)
  opacity: 0
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  transition: 200ms ease-in-out

#overlay-lightbox.active
  z-index: 90
  opacity: 1
  pointer-events: all

button[data-modal-target="#modal-lightbox"]
  background-color: #00b7c2
  color: #e5e5e5
  border: none
  outline: none
  padding: 20px 40px
  font-size: 1.3em
  font-weight: 700
  text-transform: uppercase
  border-radius: 5px
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3)
  cursor: pointer

button[data-modal-target="#modal-lightbox"]:active
  background-color: #00b7c2
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.2),  inset -1px -1px 10px rgba(255, 255, 255, 0.4)
  border: 1px solid #fff

.modal-body-lightboox
  width: 100%
  .swiper-button-prev
    display: none
  .swiper-button-next
    display: none
  @include media(768px)
    width: 680px
    margin: 0 auto
  @include media(1200px)
    width: 680px
    margin: 0 auto
    .swiper-button-prev
      display: block
      color: black
      width: 54px
      height: 54px
      border-radius: 100%
      font-size: 12px
      outline: none
      &:after
        content: ''
        width: 54px
        height: 54px
        position: absolute
        display: block
        background: url("../img/slider-arrow-upper.png") center no-repeat
        background-size: contain
        transform: rotate(-180deg)
    .swiper-button-next
      color: black
      display: block
      width: 54px
      height: 54px
      border-radius: 100%
      font-size: 12px
      outline: none
      &:after
        content: ''
        width: 54px
        height: 54px
        position: absolute
        display: block
        background: url("../img/slider-arrow-upper.png") center no-repeat
        background-size: contain

.mk-design-card-slider
  padding: 20px 0
  .swiper-slide
    height: 250px
    img
      width: 100%
      height: 250px
      object-fit: cover
      @include media(768px)
        width: 260px
  .swiper-pagination-bullet
    width: 90px
    height: 90px
    opacity: 1
    @include media(768px)
      width: 78px
      height: 78px
    img
      width: 90px
      height: 90px
      @include media(768px)
        width: 78px
        height: 78px

.mk-design-card-slider-lightbox
  position: relative
  .swiper-slide
    width: 100%
    height: 360px
    img
      width: 100%
      height: 360px
      object-fit: cover
    @include media(768px)
      width: 680px
      height: 680px
      img
        width: 680px
        height: 680px
    @include media(1200px)
      width: 680px
      height: 680px
      img
        height: 250px
        @include media(1200px)
          width: 680px

          height: 680px
          object-fit: cover
  .swiper-pagination-bullet
    width: 90px
    height: 90px
    background: none
    img
      width: 90px
      height: 90px

.mk-design-card-slider__nav
  position: absolute
  width: 55%
  bottom: -15px
  left: 50%
  transform: translate(-50%, 0)
  font-family: $f_Gotham-Pro
  color: $font-color
  @include media(768px)
    bottom: 10px
    @include font(12px, 14px)
  .swiper-button-prev
    color: $font-color
    outline: none
    &:after
      display: block
      position: absolute
      width: 50px
      height: 50px
      left: -80px
      content: ''
      background: url('../img/cart-slider-arrow.svg') center no-repeat
      transform: rotate(-180deg)
  .swiper-button-next
    color: $font-color
    outline: none
    &:after
      display: block
      position: absolute
      width: 50px
      height: 50px
      right: -80px
      content: ''
      background: url('../img/cart-slider-arrow.svg') center no-repeat

.thumblist
  display: flex
  flex-wrap: wrap
  margin-top: 10px
  justify-content: space-between
  .swiper-pagination-bullet
    background: none

.thumblist-item
  width: 96px
  height: 96px
  img
    width: 96px
    height: 96px

.thumblist-lightbox
  padding: 10px 0
  display: flex
  justify-content: center
  .swiper-pagination-bullet
    margin: 0 10px
  @include media(1200px)
    padding: 10px 0
    display: flex
    justify-content: center
    .swiper-pagination-bullet
      margin: 0 10px

/** CHOOSE DESIGN PAGE **/

.choose-disign-page
  .mk-star
    display: none
  .mk-header
    @include media(1200px)
      width: 1140px
      .mk-header__search-btn_active
        right: 250px

  .sound-star
    display: none
    @include media(1200px)
      width: 100px
      height: 100px
      right: 0
      top: -20px
      display: block
      position: absolute
      transform: scale(.7)
      &:hover
        .sound-music
          opacity: 0
          left: 0
          transition: .3s ease-in-out .1s

        > .sound-play, .sound-pause
          opacity: 1
          z-index: 100
          cursor: pointer
          transition: .3s ease-in-out .1s

    .sound-music
      position: absolute
      top: 60px
      left: 35px
      opacity: 1
      transition: .3s ease-in-out .1s
      transform: rotate(-20deg)

    .sound-play
      position: absolute
      top: 60px
      left: 40px

    .sound-pause
      position: absolute
      top: 60px
      left: 40px

    .sound-play, .sound-pause
      opacity: 0
      transition: .3s ease-in-out .1s

    .sound-pause
      display: none

    .sound-circle
      position: absolute
      top: -20px
      left: -40px
      z-index: -1
      transition: .3s ease-in-out .3s

    .sound-circle_active
      animation: rotation 8s infinite linear

  .mk-design-bathroom__bottom-nav
    display: flex
    justify-content: center
    padding: 0 0 40px 0
.mk-choose-section
  @include media(1200px)
    padding: 140px 0 0px
  &__header
    padding: 30px 0
    h3
      @include font(28px, 37px)
      color: $font-color
      font-family: $f_PlayfairDisplay-Regular
      font-weight: 200
      text-align: center

  &__body
    padding: 0 20px
    a
      color: $font-color
    @include media(768px)
      display: flex
      flex-wrap: wrap
    @include media(1200px)
      //padding: 80px 0 40px 0

  &__block
    position: relative
    margin: 0 0 40px 0
    @include media(425px)
      max-width: 290px
      margin: 0 auto 40px auto
    @include media(768px)
      max-width: 320px
    @include media(1024px)
      width: 370px
      max-width: 100%
    @include media(1200px)
      width: 270px
      margin: 0 auto 20px auto

    img
      width: 100%
      height: 230px
      object-fit: cover
  
  &__block-inner
    padding: 15px 20px
    width: 100%
    position: absolute
    bottom: 30px
    left: 0
    -webkit-backdrop-filter: blur(2px)
    backdrop-filter: blur(2px)
    background: rgba(255,255,255,0.5)
    h4
      @include font(18px, 21px)
      font-family: $f_PlayfairDisplay-Regular
      font-weight: 200

/** ABOUT PAGE **/

.mk-about
  overflow: hidden

  &__wrapper
    @include media(768px)
      padding: 40px 0 0 0
      display: flex
      justify-content: space-around
    @include media(1200px)
      padding: 200px 0 100px 0
  &__content
    max-width: 425px
    margin: 0 auto
    @include media(768px)
      width: 45%
      max-width: 100%
      margin: 0

  &__gallery
    display: none
    @include media(768px)
      display: grid
      width: 45%
      grid-template-columns: 1fr 1fr 1fr 1fr
      grid-template-rows: repeat(2, 100px)
      gap: 0px 0px
      grid-template-areas: ". about-grid-1 . ." "about-grid-2 about-grid-2 about-grid-3 about-grid-3" "about-grid-2 about-grid-2 about-grid-3 about-grid-3" "about-grid-2 about-grid-2 about-grid-3 about-grid-3" "about-grid-2 about-grid-2 about-grid-4 ."
      .about-grid-1
        width: 115px
        height: 90px
        grid-area: about-grid-1
        margin: 5px
        @include media(1200px)
          width: 230px
          height: 172px
        img
          width: 115px
          height: 90px
          @include media(1200px)
            width: 230px
            height: 172px
      .about-grid-2
        grid-area: about-grid-2
        height: 254px
        margin: 5px
        @include media(1200px)
          height: 428px
          position: relative
          top: 80px
        img
            height: 254px
            @include media(1200px)
              height: 428px
      .about-grid-3
        position: relative
        top: -60px
        grid-area: about-grid-3
        height: 190px
        margin: 5px
        @include media(1200px)
          height: 314px
        img
            height: 190px
            @include media(1200px)
              height: 314px
      .about-grid-4
        position: relative
        top: -60px
        grid-area: about-grid-4
        width: 91px
        height: 75px
        margin: 5px
        @include media(1200px)
          width: 183px
          height: 151px
        img
            height: 75px
            @include media(1200px)
              width: 183px
              height: 151px

  &__gallery-img
    img
      width: 100%

  &__header
    padding: 30px 0 50px 0
    h3
      @include font(30px, 37px)
      color: $font-color
      font-family: $f_PlayfairDisplay-Regular
      font-weight: 200
      text-align: center
      @include media(768px)
        text-align: right
      @include media(1200px)
        @include font(56px, 70px)

  &__body
    padding: 0 40px
    @include media(768px)
      display: flex
      justify-content: flex-end
      padding: 0 0 0 40px
    p
      font-family: $f_Gotham-Pro
      color: $font-color
      text-align: center
      @include font(12px, 18px)
      @include media(768px)
        text-align: right
        @include font(14px, 21px)
        max-width: 280px
      @include media(1200px)
        @include font(18px, 27px)
        max-width: 320px

.mk-about-line
  padding: 40px 0 100px 0
  img
    width: 100%
    transform: scale(1.1)

/** 404 PAGE **/

.mk-404
  overflow: hidden
  .mk-design-bathroom__action
    padding: 60px 0 120px 0
    margin: 0 auto
    max-width: 290px
    justify-content: space-evenly
    @include media(1200px)
      width: 100%
      margin: 0
      justify-content: center
      max-width: 100%

  &__wrapper
    @include media(768px)
      padding: 40px 0 0 0
      display: flex
      justify-content: space-around
    @include media(1200px)
      padding: 200px 0 100px 0

  &__content
    max-width: 425px
    margin: 0 auto
    @include media(768px)
      width: 100%
      max-width: 100%
      margin: 0
    @include media(1200px)
      width: 45%

  &__header
    padding: 30px 0 50px 0
    svg
      margin: 0 auto
      display: block
      transform: scale(.9)

  &__body
    padding: 0 40px
    @include media(768px)
      display: flex
      justify-content: flex-end
      padding: 0 0 0 40px
    p
      font-family: $f_Gotham-Pro
      color: $font-color
      max-width: 220px
      margin: 0 auto
      text-align: center
      @include font(12px, 18px)
      @include media(768px)
        text-align: center
        @include font(14px, 21px)
        max-width: 280px
      @include media(1200px)
        @include font(18px, 27px)
        max-width: 320px
        text-align: center

.mk-about-line
  padding: 40px 0 100px 0
  img
    width: 100%
    transform: scale(1.1)

/** CONTACTS PAGE **/

.mk-contacts
  .mk-design-bathroom__action
    @include media(768px)
      padding: 40px 0
      justify-content: center
    @include media(1200px)
      padding: 80px 0
      position: relative
      &:after
        content: ''
        display: block
        position: absolute
        width: 150px
        height: 150px
        top: -120px
        left: 280px
        background: url(../img/keramika-logo.png) center no-repeat
        background-size: contain
        opacity: 1

  &__content
    @include media(1200px)
      padding: 150px 0 0 0
      position: relative
      &:after
        @include pseudo(70px, 1px)
        left: 50%
        bottom: 20px
        background: $font-color
        transform: translate(-50%, 0)

  &__header
    padding: 30px 0 0 0
    h3
      text-align: center
      @include font(30px, 37px)
      font-family: $f_PlayfairDisplay-Regular
      font-weight: 200
      @include media(1200px)
        @include font(56px, 70px)

  &__block-wrapper
    @include media(768px)
      padding: 50px 0
      display: flex
      justify-content: space-around
    @include media(1200px)

  &__block
    h5
      margin: 30px 0
      font-family: $f_PlayfairDisplay-Regular
      font-weight: 200
      @include font(20px, 26px)
      text-align: center

  &__block-middle
    margin: 50px 0
    @include media(768px)
      margin: 0

  &__text
    p
      margin: 12px 0
      @include font(12px, 11px)
      font-family: $f_Gotham-Pro
      text-align: center

  &__map
    padding: 30px 0 0 0